.heroContainer {
  background-image: url("../../public/hero.jpg");
  background-position: center;
  /* height: 100vh; */
  background-size: cover;

  margin-bottom: 8rem;
}

.main {
  /* container classes */
  margin: 0 auto;
  padding: 0 3.2rem;
  max-width: 120rem;
  padding-bottom: 6rem;
  /*  */

  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 40rem;
}

.heroTextBox {
  color: #fff;
}

.heroTitle {
  font-size: 8rem;
  line-height: 0.9;
  margin-bottom: 2.4rem;
}

.heroText {
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 1.6rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-weight: 500;
  margin-right: 5rem;

  border-radius: 9px;
  margin-bottom: 2rem;
  backdrop-filter: blur(0.5rem);
}

.actionButton {
  padding: 1.8rem 3.6rem;
  border: none;

  background-color: #59b169;
  border-radius: 9px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  transition: all 0.3s ease-out;
}

.actionButton:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.actionButton:active {
  background-color: #82c58f;
}

@media (max-width: 68em) {
  .main {
    gap: 30%;
  }
}

@media (max-width: 54em) {
  .main {
    gap: 5%;
  }
}

@media (max-width: 39em) {
  .main {
    grid-template-columns: 1fr;
  }

  .heroText {
    margin-right: 0;
  }

  .formContainer {
    display: flex;
    justify-self: center;
    align-items: center;
  }
  .heroContainer {
    text-align: center;
  }
}

@media (max-width: 25em) {
  .main {
    /* padding: 0 1.2rem; */
    gap: 2%;
  }
}
