.section {
  padding-bottom: 9rem;
  padding-top: 9rem;
  background-color: #333;
}

.servicesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.2rem;
}

.serviceIcon {
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 1.8rem;
  color: #267e36;
}

.service {
  padding: 1.2rem;
}

.serviceTitle {
  color: #e6e6e6;
}

.serviceText {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 600;
  color: #e6e6e6;
}

@media (max-width: 68em) {
}
@media (max-width: 54em) {
}
@media (max-width: 39em) {
  .servicesContainer {
    grid-template-columns: 1fr;
  }
  .section {
    text-align: center;
  }
  .service {
    padding: 2.4rem;
  }
}
@media (max-width: 25em) {
}

/* .enter {
  opacity: 0;
  transform: translateX(100%);
}

.enterActive {
  animation: showSection 0.5s ease-out forwards;
}

@keyframes showSection {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
} */

.prepare {
  opacity: 0;
  transform: translateX(100%);
}

.transition {
  opacity: 1;
  transform: translateX(0%);
}
